@model Lektion_0129_MVC.Models.CarBoatViewModel
@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class=" table table-bordered table-striped table-responsive" >

    @for (int y = 1; y <= 10; y++)
    {
        <tr>  
            @for (int x = 1; x <= 10; x++)
            {
                <td>@( x*y)</td>
            }
        </tr>
    }
</table>*@ 

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<table class=" table table-bordered table-striped table-responsive">

    @for (int y = 1; y <= 10; y++)
    {
        <tr>
            @for (int x = 1; x <= 10; x++)
            {
                <td>@( x * y)</td>
            }
        </tr>
    }
</table>

<div class="row">

    <div class="col-md-6">
        <h3>My Fav Car</h3>
        <p>Model: @Model.Car.Model</p>
        <p>Brand: @Model.Car.Brand</p>
        <p>Max-Speed: @Model.Car.MaxSpeed</p>
    </div>
    <div class="col-md-6">
        <h3>Random Boat</h3>
        <p>Name: @Model.Boat.Name</p>
        <p>Information: @Model.Boat.Info</p>

    </div>
</div>